@import "tailwindcss";

@theme inline {
  --color-background: #ffdb58;
  --color-blueprimary: #058cd7;
  --color-yellowprimary: #ffdb58;
  --color-purpleprimary: #ac88ee;
  --color-greenprimary: #00955e;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --drop-shadow-small: 6px 6px 0 #000000;
  --drop-shadow-big: 12px 12px 0 #000000;
}

body {
  color: #000000;
}
